/easygo-admin-web/target/
/easygo-pojo/target/
/easygo-eureka/target/
/easygo-brand-service/target/
/easygo-commons/target/
/easygo-admin-service/target/
/easygo-ad-service/target/
/easygo-protal-web/target/
/easygo-specification-service/target/
/easygo-typetemplate-service/target/
/easygo-itemcat-service/target/
/easygo-search-service/target/
/easygo-goods-service/target/
/easygo-staticpage-service/target/
/easygo-users-service/target/
/easygo-address-service/target/
