<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>广告管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		function updateStatus(id,btn) {
			var status = 0;
			var text = $(btn).text();
			if (text == "有效") {
				status = 1;
			}
			if (confirm("确定要修改为" + text + "吗")) {
				$.ajax({
					url:"content_updateStatus",
					type:"post",
					dataType:"json",
					data:"id="+id+"&status="+status,
					success:function (result) {
						if (result.code == 200) {
							alert("修改成功");
							$(btn).parent().prev().text(text);
							$(btn).text(text=="有效"?"无效":"有效");
						}else{
							alert("修改失败");
						}
					}

				})
			}
		}
		//异步绑定新增下拉列表
		$(function () {
			$.ajax({
				url:"contentCategory_list",
				type:"post",
				dataType:"json",
				success:function (result) {
					for (var i = 0; i <result.length ; i++) {
						$("#contentCategory_list_select").append("<option value='"+result[i].id+"'>"+result[i].name+"</option>")
					}
				}
			})
		})
		//异步文件上传
		function uploadImg_add() {
			var formdata = new FormData();
			formdata.append("file",document.getElementById("file_add").files[0]);
			$.ajax({
				url:"file_upload",
				data:formdata,
				type:"post",
				contentType:false,
				processData:false,
				success:function (result) {
					if (result.code==200){
						$("#img_show_add").prop("src",result.message);
						//保存值，提交到数据库
						$("#upload_img_add_img").val(result.message)
					}else {
						alert("文件上传失败");
					}
				}
			})
		}

		//新增广告
		function addContent() {
			var data= $("#addForm").serialize();
			$.ajax({
				url:"content_add",
				data:data,
				type:"post",
				dataType:"json",
				success:function (result) {
					if (result.code == 200) {
						alert(result.message);
						location.href = "content_page";
					}else {
						alert("新增失败");
					}
				}
			})
		}

		//数据回显
		function goUpdate(id) {
			$.ajax({
				url:"content_goUpdate",
				data:{"id":id},
				type:"post",
				dataType:"json",
				success: function (result) {
					//alert(JSON.stringify(result));
					$("#title_update").val(result.content.title);
					$("#sort_order_update").val(result.content.sort_order);
					$("#status_update").prop("checked",result.content.status=="1"?true:false)
					$("#img_show_update").prop("src",result.content.pic);
					$("#url_update").val(result.content.url);
					for (var i = 0; i <result.contentCategorys.length ; i++) {
						$("#contentCategory_select_update").append("<option value='"+result.contentCategorys[i].id+"'>"+result.contentCategorys[i].name+"</option>")
					}
					//下拉框自动选中
					$("#contentCategory_select_update").val(result.content.contentCategory.id);
					//藏值
					$("#id_update").val(result.content.id);

					$("#upload_img_update_img").val(result.content.pic);
				}

			})

		}
		//数据更新
		function updateContent() {
			var data= $("#updateForm").serialize();
			$.ajax({
				url:"content_update",
				data:data,
				type:"post",
				dataType:"json",
				success:function (result) {
					if (result.code == 200) {
						alert(result.message);
						location.href = "content_page";
					}else {
						alert("新增失败");
					}
				}
			})

		}


		//异步文件更新
		function uploadImg_update() {
			var formdata = new FormData();
			formdata.append("file",document.getElementById("file_update").files[0]);
			$.ajax({
				url:"file_upload",
				data:formdata,
				type:"post",
				contentType:false,
				processData:false,
				success:function (result) {
					if (result.code==200){
						$("#img_show_update").prop("src",result.message);
						//保存值，提交到数据库
						$("#upload_img_update_img").val(result.message)
					}else {
						alert("文件更新失败");
					}
				}
			})
		}




	</script>
    
</head>

<body class="hold-transition skin-red sidebar-mini">
  <!-- .box-body -->
                
                    <div class="box-header with-border">
                        <h3 class="box-title">广告管理</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#addModal" ><i class="fa fa-file-o"></i> 新建</button>
                                        <button type="button" class="btn btn-default" title="删除" ><i class="fa fa-trash-o"></i> 删除</button>
                                        <button type="button" class="btn btn-default" title="开启" onclick='confirm("你确认要开启吗？")'><i class="fa fa-check"></i> 开启</button>
                                        <button type="button" class="btn btn-default" title="屏蔽" onclick='confirm("你确认要屏蔽吗？")'><i class="fa fa-ban"></i> 屏蔽</button>
                                        <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                                    </div>
                                </div>
                            </div>
                            <div class="box-tools pull-right">
                                <div class="has-feedback">
							                                  
                                </div>
                            </div>
                            <!--工具栏/-->

			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
			                              <th class="" style="padding-right:0px">
			                                  <input id="selall" type="checkbox" class="icheckbox_square-blue">
			                              </th> 
										  <th class="sorting_asc">广告ID</th>
									      <th class="sorting">分类名称</th>
									      <th class="sorting">标题</th>
									      <th class="sorting">URL</th>		
									      <th class="sorting">图片</th>	
									      <th class="sorting">排序</th>		
									      <th class="sorting">是否有效</th>											     						      							
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>
			                          <tr th:each="content:${pageUtils.recoreds}">
			                              <td><input  type="checkbox"></td>			                              
				                          <td th:text="${content.id}">1</td>
									      <td th:text="${content.contentCategory.name}">1</td>
									      <td th:text="${content.title}">促销海报1</td>
									      <td th:text="${content.url}">http://wwww.hb.com/hd1.html</td>
									      <td>
									      	<img alt="" th:src="${content.pic}" width="100px" height="50px">
									      </td>
									      <td th:text="${content.sort_order}">1</td>
									      <td th:text="${content.status==1?'有效':'无效'}">有效</td>
		                                  <td class="text-center">                                           
		                                 	  <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" th:onclick="|goUpdate(${content.id})|" data-target="#updateModal">修改</button>
											  <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" th:onclick="|updateStatus(${content.id},this);|" th:text="${content.status==1?'无效':'有效'}">无效</button>
										  </td>
			                          </tr>
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->
							<!-- 分页组件 -->
							<div class="row">
								<div class="col-sm-6"><div class="dataTables_paginate paging_bootstrap" id="sample-table_paginate">
									<ul class="pagination">
										<li class="prev"><a th:href="|content_page?pageIndex=1&pageSize=${pageUtils.pageSize}|">首页</a></li>
										<!--<li class="prev" th:if="${pageUtils.pageIndex>1}"><a th:href="|brand_page?pageIndex=${pageUtils.pageIndex-1}&pageSize=${pageUtils.pageSize}|">上一页</a></li>-->
										<li class="next" th:each="num:${pageUtils.numbers}" th:class="${pageUtils.pageIndex==num}?active"><a th:href="|content_page?pageIndex=${num}&pageSize=${pageUtils.pageSize}|" th:text="${num}">[]</a></li>
										<!--<li class="prev" th:if="${pageUtils.pageIndex<pageUtils.pageCount}"><a th:href="|brand_page?pageIndex=${pageUtils.pageIndex+1}&pageSize=${pageUtils.pageSize}|">下一页</a></li>-->
										<li class="prev"><a th:href="|content_page?pageIndex=${pageUtils.pageCount}&pageSize=${pageUtils.pageSize}|">尾页</a></li>
										<li class="next"><a href="#" th:text="|当前${pageUtils.pageIndex}/${pageUtils.pageCount}页|">[]</a></li>
										<li class="next"><a href="#" th:text="|共${pageUtils.totalCount}条|">[]</a></li>
									</ul>
								</div>
								</div>
							</div>
							<!-- 分页组件 -->
                        </div>
                        <!-- 数据表格 /-->
                     </div>
                    <!-- /.box-body -->
  <!--新增窗口 -->
  <form action="#" id="addForm" method="post">
  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog" >
		  <div class="modal-content">
			  <div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				  <h3 id="myModalLabel">广告新增</h3>
			  </div>
			  <div class="modal-body">

				  <table class="table table-bordered table-striped"  width="800px">
					  <tr>
						  <td>广告分类</td>
						  <td>
							  <select name="contentCategory.id" class="form-control" id="contentCategory_list_select" >
							  </select>
						  </td>
					  </tr>
					  <tr>
						  <td>标题</td>
						  <td><input  name="title" class="form-control" placeholder="标题" >  </td>
					  </tr>
					  <tr>
						  <td>URL</td>
						  <td><input name="url" class="form-control" placeholder="URL" >  </td>
					  </tr>
					  <tr>
						  <td>排序</td>
						  <td><input name="sort_order"  class="form-control" placeholder="排序" >  </td>
					  </tr>
					  <tr>
						  <td>广告图片</td>
						  <td>
							  <table>
								  <tr>
									  <td>
										  <input type="file" name="file" id="file_add" />
										  <input type="hidden" name="pic" id="upload_img_add_img">

										  <button class="btn btn-primary" type="button" onclick="uploadImg_add();">
											  上传
										  </button>
									  </td>
									  <td>
										  <img  src="#" id="img_show_add" width="200px" height="100px">
									  </td>
								  </tr>
							  </table>
						  </td>
					  </tr>
					  <tr>
						  <td>是否有效</td>
						  <td>
							  <input type="checkbox" name="status" value="1" class="icheckbox_square-blue" >
						  </td>
					  </tr>
				  </table>

			  </div>
			  <div class="modal-footer">
				  <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" onclick="addContent();">新增</button>
				  <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
			  </div>
		  </div>
	  </div>
  </div>
  </form>

  <!--编辑窗口 -->
  <form action="#" id="updateForm" method="post">
	  <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog" >
			  <div class="modal-content">
				  <div class="modal-header">
					  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					  <h3 id="myModalLabel1">广告编辑</h3>
				  </div>
				  <div class="modal-body">

					  <table class="table table-bordered table-striped"  width="800px">
						  <tr>
							  <td>广告分类</td>
							  <td>
								  <input type="hidden" name="id" id="id_update">
								  <select name="contentCategory.id" class="form-control" id="contentCategory_select_update" >
								  </select>
							  </td>
						  </tr>
						  <tr>
							  <td>标题</td>
							  <td><input  name="title" class="form-control" placeholder="标题" id="title_update">  </td>
						  </tr>
						  <tr>
							  <td>URL</td>
							  <td><input name="url" class="form-control" placeholder="URL" id="url_update" >  </td>
						  </tr>
						  <tr>
							  <td>排序</td>
							  <td><input name="sort_order"  class="form-control" placeholder="排序" id="sort_order_update" >  </td>
						  </tr>
						  <tr>
							  <td>广告图片</td>
							  <td>
								  <table>
									  <tr>
										  <td>
											  <input type="file" name="file" id="file_update" />
											  <input type="hidden" name="pic" id="upload_img_update_img">

											  <button class="btn btn-primary" type="button" onclick="uploadImg_update();">
												  上传
											  </button>
										  </td>
										  <td>
											  <img  src="#" id="img_show_update" width="200px" height="100px">
										  </td>
									  </tr>
								  </table>
							  </td>
						  </tr>
						  <tr>
							  <td>是否有效</td>
							  <td>
								  <input type="checkbox" name="status" id="status_update" value="1" class="icheckbox_square-blue" >
							  </td>
						  </tr>
					  </table>

				  </div>
				  <div class="modal-footer">
					  <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" onclick="updateContent();">更新</button>
					  <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
				  </div>
			  </div>
		  </div>
	  </div>
  </form>

</body>

</html>