<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品分类管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		function goPage(pageInddex, pageSize) {
			//跳转页面
			$("#searchForm").prop("action", "itemcat_page?pageIndex=" + pageInddex + "&pageSize=" + pageSize);
			$("#searchForm").submit();
		}

		function queryChilds(parentId) {
			$("#parentId").val(parentId);
			$("#searchForm").prop("action", "itemcat_page?pageIndex=1&pageSize=5");
			$("#searchForm").submit();
		}

		function getTypeTemplates() {
			$.getJSON("typeTemplate_all",null,function (result) {
				$("#select_type_add").text("");
				for (var i = 0; i < result.length; i++) {
					$("#select_type_add").append("<option value='"+result[i].id+"'>"+result[i].name+"</option>");
				}
				var lis = $("#type_parent li");
				var str = "";
				for (var i = 0; i < lis.length; i++) {
					var t = $(lis[i]).text();
					if(i == lis.length-1){
						str = str + t;
					}else {
						str = str+t+">>";
					}
				}
				$("#typetemplate_add").text(str);
			})
		}

		function addItemCat(){
			var data = $("#addForm").serialize();
			$.ajax({
				url:"itemcat_add",
				data:data,
				type:"post",
				dataType:"json",
				success:function (result) {
					if(result.code ==200){
						alert(result.message);
						location.href="itemcat_page";
					}else{
						alert(result.message);
					}
				}
			})
		}

		function updateItemCat(){
			var data = $("#updateForm").serialize();
			$.ajax({
				url:"itemcat_update",
				data:data,
				type:"post",
				dataType:"json",
				success:function (result) {
					if(result.code ==200){
						alert(result.message);
						location.href="itemcat_page";
					}else{
						alert(result.message);
					}
				}
			})
		}

		function goUpdate(id) {
			//加载普通字段
			$.getJSON("itemcat_goUpdate",{"id":id},function (result) {
				var name = result.name;
				var id = result.id;
				var type_id = result.typeTemplate.id;
				$("#id_update").val(id);
				$("#name_update").val(name);

				//回显模板下拉框
				$.getJSON("typeTemplate_all",null,function (result) {
					$("#select_type_update").text("");
					for (var i = 0; i < result.length; i++) {
						$("#select_type_update").append("<option value='"+result[i].id+"'>"+result[i].name+"</option>");
					}
					//选择下拉列表杠
					$("#select_type_update").val(type_id);

				})

				var lis = $("#type_parent li");
				var str = "";
				for (var i = 0; i < lis.length; i++) {
					var t = $(lis[i]).text();
					if(i == lis.length-1){
						str = str + t;
					}else {
						str = str+t+">>";
					}
				}
				$("#typetemplate_update").text(str);

			})
		}
	</script>
    
</head>

<body class="hold-transition skin-red sidebar-mini" >
  <!-- .box-body -->
  <form id="searchForm" action="itemcat_page?pageIndex=1&pageSize=5" method="post">
	  <input type="hidden" name="parentId" th:value="${parentId}" id="parentId">
  </form>
  <div class="box-header with-border">
                        <h3 class="box-title">商品分类管理     
                       	</h3>
                    </div>

                    <div class="box-body">
								 <ol class="breadcrumb" th:utext="${str}" id="type_parent"> </ol>

                        <!-- 数据表格 -->
                        <div class="table-box">
							
                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" title="新建" onclick="getTypeTemplates();" data-toggle="modal" data-target="#addModal" ><i class="fa fa-file-o"></i> 新建</button>
                                        <button type="button" class="btn btn-default" title="删除" ><i class="fa fa-trash-o"></i> 删除</button>
                                        <button type="button" class="btn btn-default" title="刷新" ><i class="fa fa-check"></i> 刷新</button>
                                       
                                    </div>
                                </div>
                            </div>                          
                       		
                        
			                <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
			                              <th class="" style="padding-right:0px">
			                                  <input type="checkbox" class="icheckbox_square-blue">
			                              </th> 
										  <th class="sorting_asc">分类ID</th>
									      <th class="sorting">分类名称</th>									   
									      <th class="sorting">类型模板名称</th>
									     						
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>
			                          <tr th:each="itemcat:${pageUtils.recoreds}">
			                              <td><input  type="checkbox" ></td>			                              
				                          <td th:text="${itemcat.id}">982</td>
									      <td th:text="${itemcat.name}">吊坠/项链</td>
									      <td th:text="${itemcat.typeTemplate.name}"></td>
		                                  <td class="text-center">		                                     
		                                      <button type="button" class="btn bg-olive btn-xs" th:if="${flag}==false" th:onclick="|queryChilds(${itemcat.id})|" >查询下级</button>
		                                 	  <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#updateModal" th:onclick="|goUpdate(${itemcat.id})|" >修改</button>
		                                  </td>
			                          </tr>
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->
							<!-- 分页组件 -->
							<div class="row">
								<div class="col-sm-6">
									<div class="dataTables_paginate paging_bootstrap" id="sample-table_paginate">
										<ul class="pagination">
											<li class="prev"><a th:href="|javascript:goPage(1,${pageUtils.pageSize})|">首页</a></li>
											<!--<li class="prev" th:if="${pageUtils.pageIndex>1}"><a th:href="|brand_page?pageIndex=${pageUtils.pageIndex-1}&pageSize=${pageUtils.pageSize}|">上一页</a></li>-->
											<li class="next" th:each="num:${pageUtils.numbers}"
												th:class="${pageUtils.pageIndex==num}?active"><a
													th:href="|javascript:goPage(${num},${pageUtils.pageSize})|" th:text="${num}">[]</a></li>
											<!--<li class="prev" th:if="${pageUtils.pageIndex<pageUtils.pageCount}"><a th:href="|brand_page?pageIndex=${pageUtils.pageIndex+1}&pageSize=${pageUtils.pageSize}|">下一页</a></li>-->
											<li class="prev"><a th:href="|javascript:goPage(${pageUtils.pageCount},${pageUtils.pageSize})|">尾页</a>
											</li>
											<li class="next"><a href="#" th:text="|当前${pageUtils.pageIndex}/${pageUtils.pageCount}页|">[]</a>
											</li>
											<li class="next"><a href="#" th:text="|共${pageUtils.totalCount}条|">[]</a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- 分页组件 -->
						
                        </div>
                        <!-- 数据表格 /-->
                     </div>
                    <!-- /.box-body -->
<!-- 新增窗口 -->
  <form action="#" method="post" id="addForm">
  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel1">商品分类编辑</h3>
		</div>
		<div class="modal-body">							
			
			<table class="table table-bordered table-striped"  width="800px">
				<tr>
		      		<td>上级商品分类</td>
		      		<td id="typetemplate_add">
		      		</td>
		      	</tr>
		      	<tr>
		      		<td>商品分类名称</td>
		      		<td>
						<input type="hidden" name="parentId" th:value="${parentId}">
						<input  class="form-control" name="name" placeholder="商品分类名称">
					</td>
		      	</tr>			  
		      	<tr>
		      		<td>类型模板</td>
		      		<td>
						<select id="select_type_add" name="typeTemplate.id" class="form-control">
						</select>
		      		</td>		      		      		
		      	</tr>		      	
			 </table>				
			
		</div>
		<div class="modal-footer">						
			<button class="btn btn-success" data-dismiss="modal" aria-hidden="true" onclick="addItemCat();">新增</button>
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		</div>
	  </div>
	</div>
</div>
  </form>

  <!-- 编辑窗口 -->
  <form action="#" method="post" id="updateForm">
	  <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog" >
			  <div class="modal-content">
				  <div class="modal-header">
					  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					  <h3 id="myModalLabel">商品分类编辑</h3>
				  </div>
				  <div class="modal-body">

					  <table class="table table-bordered table-striped"  width="800px">
						  <tr>
							  <td>上级商品分类</td>
							  <td id="typetemplate_update">
							  </td>
						  </tr>
						  <tr>
							  <td>商品分类名称</td>
							  <td>
								  <input type="hidden" name="id" id="id_update"  >
								  <input  class="form-control" name="name" id="name_update" placeholder="商品分类名称">
							  </td>
						  </tr>
						  <tr>
							  <td>类型模板</td>
							  <td>
								  <select id="select_type_update" name="typeTemplate.id" class="form-control">
								  </select>
							  </td>
						  </tr>
					  </table>

				  </div>
				  <div class="modal-footer">
					  <button class="btn btn-success" data-dismiss="modal" onclick="updateItemCat();" aria-hidden="true"  >更新</button>
					  <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
				  </div>
			  </div>
		  </div>
	  </div>
  </form>
</body>
</html>